<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header"> Calendars </div>
      <ul class="list-group list-group-flush" *ngFor="let calendar of calendarList;">
        <li class="list-group-item">
          <input type="checkbox" name="" id="" (change)="eventsToDisplay(calendar.id, $event)" checked>
          {{calendar.title}}
        </li>
      </ul>
    </div>
    <div class="my-4">
      <button class="btn btn-block btn-primary jh-create-entity create-calendar" [routerLink]="['/calendar/new']">
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="fullCalendarApp.calendar.home.createLabel">
          Create a new Calendar
        </span>
      </button>
    </div>
    <div>
      <button class="btn btn-block btn-primary jh-create-entity create-calendar-event"
        [routerLink]="['/calendar-event/new']">
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="fullCalendarApp.calendarEvent.home.createLabel">
          Create a new Calendar Event
        </span>
      </button>
    </div>
    <div ngbDropdown class="d-inline-block my-4">
      <button class="btn btn-secondary btn-block" id="dropdownIcal" ngbDropdownToggle>ICAL</button>
      <div ngbDropdownMenu aria-labelledby="dropdownIcal">
        <button ngbDropdownItem (click)="exportIcal()">Export Agenda</button>
        <button ngbDropdownItem (click)="fileInput.click()"> Import Agenda
          <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" (eventClick)="handleEventClick($event)"
      [events]="displayedEvents" [header]="{
      right: 'prev,next today',
      center: 'title',
      left: 'dayGridMonth timeGridWeek timeGridDay'
    }"></full-calendar>
  </div>
</div>